*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.banner{
    background-color: rgb(253, 243, 228);
}
.navber{
    padding-top:  50px; 
    display: flex; 
    justify-content: space-around;
}
.navber ul{
     display: flex;
     list-style: none;

}
.navber ul li{
    padding:10px 20px ;
}
.navber h1{
    font-weight: 700px;
    font-size: 30px;
   
    
}
/* --------start banner----------*/

.banner-section h1{
    margin-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;  
    margin-bottom: 20px; 
}
.banner-section p{
    text-align: center;
    font-weight: 500;
    font-size: small;
    line-height: 25px;
    color: gray;

}
.btn{
    
    align-items: center;
    background-color:#FF900E;
    width: 150px;
    height: 55px;
    border-radius: 5px;
    border: 0;
    color: #fff;

}
.banner-section .banner-img{
   padding-left: 210px;
   padding-bottom: 20px;
}
/* ---------------------------Features-section----------------------- */
.Features-section{
    padding: 50px 50px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    text-align: left;
}
.Features-img{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.Features-details h1{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 180px;
}
.Features-details .first{
    color: rgb(184, 183, 183);
}
.last{
    color: #FF900E;
}
.Features-details p{
   color: gray;
   line-height: 25px;
   font-size: small;
   padding-bottom: 20px;
}

@media only screen and (max-width:576px) {
 
         
    
}